html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.portfolio-section {
  margin-top: 52px;
}

.main-start-section {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
  justify-content: space-evenly;
}

/* .introduction-me {
  
} */

.main-header{
  color: black;
  font-size: 20px;
  align-self: center;
}

.main-photo {
  height: 40%;
  width: 40%;
}

.about-start-section {
  border: 2px solid black;
  display: block;
  height: 100%;
  width: auto;
}

.about-header {
  color: black;
  font-size: 20px;
}

.projects-start-section{
  border: 2px solid black;
  display: block;
  height: 100%;
  width: auto;
}

.projects-header {
  color: black;
  font-size: 20px;
}

.resume-start-section{
  border: 2px solid black;
  display: block;
  height: 100%;
  width: auto;
}

.resume-header {
  color: black;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
